/*font variables*/
/*color variables*/
/*font size variables*/
/*********************
styles shared across pages
*********************/
/* main body format */
body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  color: #200810; }

/* header styles */
header {
  background-color: #edc159; }
  header a:hover {
    text-decoration: none;
    color: #a57239; }

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-size: 30px; }
  h1 a,
  h2 a {
    color: #200810; }
  @media (min-width: 992px) {
    h1,
    h2 {
      font-size: 40px; } }

h3 {
  font-size: 20px;
  color: #6c978f; }

/* page filter */
.fa-filter {
  font-size: 24px; }

/* search area and sub header */
.subHeading {
  font-family: "Over the Rainbow", cursive;
  font-size: 13px; }
  @media (min-width: 992px) {
    .subHeading {
      font-size: 20px; } }

/*place menu index in front of absolute positioned flyout menu*/
#menuBtn {
  z-index: 1; }

#navbarMenu,
#filterMenu {
  /*absolue positioning on small screens to place menu over top of all other content*/
  position: absolute;
  top: -5px;
  z-index: 1;
  height: 100vh;
  width: 75vw;
  background: #fff; }
  #navbarMenu ul,
  #filterMenu ul {
    /*position the list so it doesn't bump against very top left*/
    margin-top: 75px;
    padding-left: 15px; }
    @media (min-width: 992px) {
      #navbarMenu ul,
      #filterMenu ul {
        padding-left: 40px; } }
  @media (min-width: 992px) {
    #navbarMenu,
    #filterMenu {
      /*move position back to inherit so it falls into correct position*/
      position: inherit;
      height: auto;
      background-color: #edc159 !important;
      font-size: 13px; }
      #navbarMenu ul,
      #filterMenu ul {
        /*remove extra spacing added on smaller screens*/
        margin-top: 0;
        padding-left: 0; } }

#filterMenu {
  right: 0;
  padding: 40px 20px 0; }
  @media (min-width: 992px) {
    #filterMenu {
      padding: 85px 50px 0; } }

#menuBtn,
#filterBtn {
  z-index: 2; }
  #menuBtn :hover,
  #filterBtn :hover {
    cursor: pointer; }

#navList {
  padding-left: 50px; }

ul li,
.filterLabel {
  font-family: "Oswald", sans-serif;
  font-size: 30px; }

/*submit button for modals*/
.modalSubmit,
.filterSubmit {
  background-color: #6c978f;
  color: #fff; }

/*icons*/
.fa-hamburger {
  color: #a57239; }

.fa-beer {
  color: #edc159; }

/*********************
end styles shared across pages
*********************/
/*********************
index page styles
*********************/
#searcharea {
  border: 1px solid #fff;
  border-radius: 15px; }
  #searcharea input:active,
  #searcharea input:focus {
    outline: none; }
  #searcharea input {
    width: 70%;
    font-size: 13px; }
  @media (min-width: 992px) {
    #searcharea {
      width: 85%; } }

/* menu styles */
.mapArea {
  margin-top: 125px; }
  .mapArea :hover {
    cursor: grab; }

/* fixed content styles */
.mapArea {
  z-index: -1; }

/* business content styles */
#businessListContent {
  margin: 0;
  margin-top: 50%; }
  @media (min-width: 992px) {
    #businessListContent {
      margin-top: 0; } }

.distance {
  font-size: 11px; }

.specialsDetails,
.seeMore {
  font-size: 13px; }
  .specialsDetails a,
  .seeMore a {
    color: #200810;
    text-decoration: underline; }
  .specialsDetails a:hover,
  .seeMore a:hover {
    color: #6c978f; }

/*********************
index page styles
*********************/
/***********************
add happy hour page styles
***********************/
label {
  font-size: 13px; }

#happyHourAdd {
  background-color: #edc159;
  color: #200810;
  border: none; }

#happyHourAdd:hover {
  background-color: #a57239;
  color: #fff; }

#submitHappyHour {
  background-color: #6c978f;
  color: #fff; }

#submitHappyHour:hover {
  background-color: #99c1bb;
  color: #200810; }

/***********************
end add happy hour page styles
***********************/
/***********************
business info page styles
***********************/
#businessContent {
  margin: 0; }
  #businessContent h2,
  #businessContent .fa-phone,
  #businessContent .fa-directions {
    color: #6c978f; }
  #businessContent h3 {
    color: #200810;
    font-size: 20px; }
  #businessContent .address,
  #businessContent .voteTotal {
    font-size: 13px; }

/* carousel formatting */
#foodSlide img {
  height: 300px;
  object-fit: cover;
  display: block; }

@media (min-width: 992px) {
  #foodSlide .carousel-item {
    width: 33%;
    display: inline-block; } }

.fa-star,
.fa-star-half-alt {
  color: #edc159; }

.specials-border {
  border-bottom: 1px solid #200810;
  width: 90%; }

.specials-time {
  font-size: 30px;
  font-family: "Oswald", sans-serif; }

h4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px; }

.thumbUp,
.thumbDown {
  color: #d4d4d4;
  cursor: pointer; }
  .thumbUp :hover,
  .thumbDown :hover {
    color: #6c978f; }

/***********************
end of business info page styles
***********************/
