$primary-color: #e6e6e6;
$primary-font: 'Roboto', sans-serif;
$header-font: 'Oswald', sans-serif;
$cursive-font: 'Over the Rainbow', cursive;
$x-large-font: 2.3em;
$large-font: 1.7em;
$medium-font: 1em;
$small-font: 0.8em;
$x-small-font: 0.6em;

/* main page format */
body {
	font-size: $medium-font;
	font-family: $primary-font;
}

/* header styles */
header {
	background-color: $primary-color;
}

h1 {
	font-family: $header-font;
	font-size: $large-font;
	a {
		color: #000;
	}	
		a:hover {
			text-decoration: none;
		}
			@media (min-width: 992px) {
				font-size: $x-large-font;
			}
}

h2 {
	font-family: $cursive-font;
	font-size: $medium-font;
}

/* page filter */
.fa-filter {
	font-size: 24px;
}

/* search area and sub header */
// .searchRow,
.subHeading {
	background-color: $primary-color;
}

#searcharea {
	border: 1px solid #fff;
	border-radius: 15px;
		input:active,
		input:focus {
			outline: none;
		}
		@media (min-width: 992px) {
			width: 95%;
			input {
				width: 90%;
			}
		}
}

/* menu styles */
#menuBtn {
	z-index: 1;
}

#navbarMenu {
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100vh;
	width: 75vw;
		@media (min-width: 992px) {
			position: inherit;
			height: auto;
			background-color: $primary-color!important;
			font-size: $small-font;
		}
}

#menuBtn {
	z-index: 2;
}

#navList {
	padding-left: 50px;
}

ul li {
	font-family: $header-font;
	font-size: $large-font;
		a {
			color: #000;
		}
}

/* fixed content styles */
// .subHeading {
// 	top: 48px;
// 		@media (max-width: 991px) {
// 			top: 58px;
// 		}
// }
	// .searchRow {
	// 	top: 82px;
	// }
		.mapArea {
			top: 125px;
		}

.subHeading,
// .searchRow,
.mapArea {
	z-index: -1;
}

@media (min-width: 992px) {
	.subHeading {
		z-index: 1;
	}
}

/* business content styles */
#businessListWrapper {
	margin-top: calc(58px + 34px + 43px + 50%);
		@media (min-width: 992px) {
			margin-top: 125px;
		}
}

h3 {
	font-size: $medium-font;
}

.distance {
	font-size: $x-small-font;
}

.specialsDetails,
.seeMore {
	font-size: $small-font;
		a {
			color: #000;
			text-decoration: underline;
		}
}
